body {
  font-family: "Roboto Mono", monospace;
}

.appContainer {
  padding: 40px;
  padding-top: 20px;
  /*background: #fafafa;*/
}

.appContainer h1 {
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.legarrettelogo {
  width: 75px;
  margin-right: 10px;
}

.hideDrafted {
  background: #ffcccb;
}

.hideDraftedIds .isDrafted {
  display: none;
}

.draftedToggle {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  padding: 10px;
  display: inline-block;
  margin-bottom: 10px;
  cursor: pointer;
}

.playerCard {
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.78);
  border-radius: 4px;
  padding: 10px;
  background: white;
  margin-bottom: 20px;
  cursor: pointer;
}

.isDrafted {
  background: #ffcccb;
}

.positionsFilter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  max-width: 300px;
}

.lastDraftedPlayer {
  margin-bottom: 20px;
}

.positionChip {
  border: 1px solid #d3d3d3;
  background: white;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.searchBar {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  background: white;
  max-width: 300px;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
}

.searchBar.isFocused {
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.78);
}

.playerCardPosition {
  margin-bottom: 10px;
}

.playerTopRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.searchBar .material-icons {
  padding-top: 10px;
  margin-right: 5px;
}

.playerCardName {
  margin-top: 0px;
  margin-bottom: 0px;
}

.searchBar input {
  border: none;
  font-size: 22px;
  width: 100%;
}

input:focus {
  outline: none;
}

.positionChip.selected {
  /*background: #77dd77;*/
  background: #72aaff;
  color: white;
  border-color: #72aaff;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.78);
}

  @media only screen and (max-width: 550px) {
    .appContainer {
      padding: 20px;
    }
  }
